body {
  background-color: #f7f7f7;
  padding: 1em;
}

header {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  border-bottom: gray solid thin;
}

header .right {
  display: flex;
  align-items: center;
}

#root .save-list {
  margin-bottom: 1em;
}

#root .save-list thead * {
  font-weight: bold;
}

#root .no-data {
  margin-bottom: 1em;
}

.env-dialog {
  min-width: 20em;
}

body .name-form {
  margin-bottom: 1.5em;
}
