body {
  background-color: #f7f7f7;
  padding: 1em;
}

header {
  margin-bottom: 2em;
}

#root .save-list {
  margin-bottom: 1em;
}

#root .save-list thead * {
  font-weight: bold;
}

#root .no-data {
  margin-bottom: 1em;
}
